@font-face{ 
	font-family: "sunny script"; 
	src: url('fonts/Sunny Script.otf') format("opentype");
	}

body {
	background-color: rgb(235, 219, 206);
	font-size: 120%;
	list-style: none; 
	text-align: center; 
	font-family: raleway;
	margin: 4px;
	}
#navbar a{
	background-color:#37703f61;
	border-color:antiquewhite;
	border-style:double
}

li{
	text-decoration: none;
	text-align: left;
	list-style: none;
	}

a{ 
	text-decoration: none;
	color: black;
	cursor: pointer;
	}

p { 
	color: black; 
	font-weight: 400;
	}

h1 {
	color: #37703f; 
	font-size: 3em; 
	border-bottom-style: ridge; 
	border: 2px; 
	font-weight: 700; 
	font-family: "Sunny Script";
	text-align: left;
	margin-bottom: 5px;
	}
h2{
	font-family: "Sunny Script";
	font-size: 1.5em;
	font-weight:400;
}

h1>img {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
	float:inline-start
}



hr {
	margin-top: 0px;
	border-bottom-width: 10px;
	border-color: #37703f;		
	color: #37703f;
	font-weight: bold;
	}

#navbar{ 
	text-align: left;
 	}

 #contact{
 	text-align: left;
	}

footer>img {
	text-align: left;
	border-image: 0px;
}
button{ 
	background-color: #DEC7F9;
	border-color: #37703f;
	border-width: 2px;
	}
#EBDBFF
#accomplishments{
	background-color: #b68cea;
	float: right;
}
footer>img{
	float:inline-end;
}