body {

	background-color: rgb(235, 219, 206);
	font-size: 130%;
	list-style: none; 
	text-align: center; 

}

	a:{
		text-decoration: none; 
		color: black;
}

	p { 
		color: black; 
		 }
	h1 {
		color: green; 
		font-size: 60px; 
		border-bottom-style: ridge; 
		 border: 2px; 
		 }

}